@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply w-10 h-10 flex justify-center items-center align-middle bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full cursor-pointer duration-200;
  }
  .btn-play {
    @apply btn text-2xl w-14 h-14;
  }
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 20rem;
  background: linear-gradient(to right, #159957, #155799);
}