@tailwind base;
@tailwind components;
@tailwind utilities;


.popup-box {

  transform: translate(-50%, -50%) scale(.1);
  visibility: hidden;
}

.popup-box-sub {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  transition: .5s;

}